/* Estilos para barra de navegación */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1fb3b3; /* turquesa */
    padding: 10px 20px;
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.buscador {
    flex-grow: 1 ;
    display: flex ;
    justify-content: center ;
    margin: 0 20px ;
}

.buscador-form {
    display: flex ;
    width: 100% ;
    max-width: 400px ;
}

.buscador-form input[type="text"] {
    flex: 1 !important;
    padding: 8px 12px ;
    border: none ;
    border-radius: 20px 0 0 20px;
    outline: none !important;
    font-size: 14px !important;
    background-color: #fff;
    color: #000 !important;
    height: 80%;
    float: bottom;
}

.buscador-form button {
    padding: 8px 16px;
    border: none;
    background-color: #F4A300;
    color: white;
    font-weight: bold;
    border-radius: 0 20px 20px 0 ;
    cursor: pointer;
    transition: background-color 0.3s ;
}

.buscador-form button:hover {
    background-color: #45a049;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #149494; /* turquesa más oscuro */
}

.nav-links .admin {
    background-color: orange;
    color: white;
}

.nav-links .admin:hover {
    background-color: #cc7a00;
}

.saludo {
    margin-right: 15px;
    font-weight: bold;
    color: white;
}


